alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias latr='ls -latr'

alias vi='vim'
alias ip='ip address'
alias rs='rsync -aLPx --exclude "node_modules"'
alias gitinit='git init;git add .;git commit -m"first commit";git remote add origin $1;git push -u origin master'
alias greset='git reset --hard origin/master;git fetch --all'

alias lnpm='npm list -g --depth=0'
alias updnpm='sudo npm update --global --depth 9999'

alias home='cd ~'

alias k='kubectl'
alias untar='tar -xvf'
alias dc='docker-compose'


